.main-header
  .main-header__group
    =@group.name
  =link_to "edit",class: "main-header__edit" do
    Edit
  .main-header__users 
    .member
    Member : saas
.messeges
  = render @messages
.message
  =form_for [@group,@message] do |f|
    -# メッセージの文字を送信する機能
    = f.text_field :content, class: 'message__form', placeholder: 'type a message' 
    -# アイコンの機能
    -# =f.file_field :image, class:"message__form"
    =f.label :image,class: "message__icon__image" do
      =icon('fas','fas fa-image',class:"message__icon") 
      =f.file_field :image, class:"message__form"
    =f.submit "Send",class: "message__send" 