.main-header
  .main-header__group
    =@group.name
  =link_to "edit",class: "main-header__edit" do
    Edit
  .main-header__users 
    Member : 
.messeges
  = render @messages
.message
  =form_for [@group,@message] do |f|
    = f.text_field :content, class: 'message__form', placeholder: 'type a message'
    =f.label :image,class: "message__icon__image" do
      =icon('fas','fas fa-image',class:"message__icon") 
      =f.file_field :image, class:"message__image"
    =f.submit "Send",class: "message__send" 