.main-header
  .main-header__group
    group
  =link_to "#",class: "main-header__edit" do
    Edit
  .main-header__users
    users
.messeges
  .messages__box
    .messages__box__user
      user
      2019-11-22
  .messages__text
    うわ
.message
  %input{type: :text,placeholder:"type a message",class: :message__form}
  %label{class: "message__icon__image"}
    %input{type: :file,class:"message__image"}
    =icon('fas','fas fa-image',class:"message__icon") 
  =link_to "#",class: "message__send" do
    send